**/.idea
**/*.iml

lcov.info

.packages
pubspec.lock
.dart_tool/

benchmark_results.json
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh
# Local Netlify folder
.netlify
.DS_Store

docs/**/*.g.dart

*/build/
**/pubspec_overrides.yaml
**.history/

# dart to js 生成的调试文件，
*.js.deps
*.js.map

melos_overrides.yaml

packages/google_sign_in_all_platforms*/example
